h1{
	text-align: center;
	font-family: "Helvetica";
}
.grid {
	display: grid;
	/*grid-template-columns: 1fr 200px;*/
	grid-template-columns: 1fr 1fr 1fr;		/*this will create 3 columns */
	grid-template-areas: 
	"title header sidebar ";
}
body{
	padding: 0;
	margin: 0;
}
.title{
	grid-area:title;
	margin-right: 5px;
	position: relative;
	background-color: #A9A9A9;
	margin: 20px;
	border: 1px solid black;
}
.header{
	grid-area: header;
	margin-right: 5px;
	background-color: #A9A9A9;
	position: relative;
	margin: 20px;
	border: 1px solid black;
}	
.sidebar{
	grid-area: sidebar;
	position: relative;
	margin-right: 5px;
	background-color: #A9A9A9;
	margin: 20px;
	border: 1px solid black;
}
.grid span {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFE4C4;
	font-size: 1.4em;
	font-style: bold;
	padding-left: 5px;
	border: 1px solid black;
}
/***********************TABLET VERISON *******************/

@media(min-width: 768px) and (max-width:991px){
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr;		/*this will make 2 cols*/
		grid-template-rows: 1.1fr 0.6fr;
		grid-template-areas: 
		"title header"
		"sidebar sidebar";
	}
	.title{
		/*grid-row-end: span 2;
		grid-column-end: span 1; */
		grid-area:title;
		margin-right: 5px;
		position: relative;
		background-color: #A9A9A9;
		margin-bottom: 20px;
		border: 1px solid black;
	}
	.header{
		grid-area: header;
		margin-right: 5px;
		background-color: #A9A9A9;
		position: relative;
		margin-bottom: 20px;
		border: 1px solid black;
	}
	.sidebar{
		grid-area: sidebar;
		position: relative;
		margin-right: 5px;
		background-color: #A9A9A9;
		border: 1px solid black;
	}	

}
/******************MOBILE VERSION **********************/ 
@media (max-width: 767px){
	.grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
		"title"
		"header"
		"sidebar";
	}
	.title{
		/*grid-row-end: span 2;
		grid-column-end: span 1; */
		grid-area:title;
		margin-right: 5px;
		position: relative;
		background-color: #A9A9A9;
		margin:20px;
		border: 1px solid black;
	}
	.header{
		grid-area: header;
		margin-right: 5px;
		background-color: #A9A9A9;
		position: relative;
		margin:20px;
		border: 1px solid black;
	}
	.sidebar{
		grid-area: sidebar;
		position: relative;
		margin-right: 5px;
		background-color: #A9A9A9;
		margin:20px;
		border: 1px solid black;
	}	
}
